<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V18</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="login-page/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login-page/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login-page/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login-page/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login-page/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="login-page/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login-page/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login-page/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="login-page/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="login-page/css/util.css">
	<link rel="stylesheet" type="text/css" href="login-page/css/main.css">
<!--===============================================================================================-->

	
<script>
	function validateEmail() {
		// Get the email input value
		var email = document.getElementById("email").value;

		if ((email.endsWith("director@pec.edu.in")) || (email.endsWith("faculty@pec.edu.in"))){
			// Redirect to another page with a welcome alert
			alert("Welcome Faculty");
			window.location.href = "faculty.html";
		}
		// Check if the email ends with "@pec.edu.in"
		else if (email.endsWith("@pec.edu.in")) {
			// Redirect to another page with a welcome alert
			alert("Welcome Student");
			window.location.href = "dashboard.html";
			// You can use window.location.href to redirect to another page
			// window.location.href = "another-page.html";
		} 
		
		else {
			// Display an alert for invalid ID
			alert("Invalid Email ID");
		}
	}

	function popOut() {
		var email = document.getElementById("email").value;

		if (email.endsWith("@pec.edu.in" || "faculty@pec.edu.in")) {
			alert("Mail Sent");
		}
		
		else {
			alert("Invalid Email ID");
		}
	}


        function signup() {
            const name = document.getElementById('name').value;
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            fetch('https://x8ki-letl-twmt.n7.xano.io/api:oYOcubk6/auth/signup', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    name: name,
                    email: email,
                    password: password,
                }),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Sign Up successful:', data);
            })
            .catch(error => {
                console.error('Error signing up:', error.message);
            });
        }
	</script>

</head>
<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-43">
						Login to continue
					</span>
					
					
					<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" id="email" contenteditable="true" placeholder="try a@pec.edu.in: student, director@pec.edu.in: direct">
						<span class="focus-input100"></span>
						<span class="label-input100"></span>
					</div>

                    <!-- Additional fields for signup -->
                    <div class="wrap-input100 validate-input" data-validate="Name is required">
                        <input class="input100" type="text" id="name" contenteditable="true">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Name</span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required" placeholder="any">
                        <input class="input100" type="password" id="password">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Password</span>
                    </div>

					<div class="flex-sb-m w-full p-t-3 p-b-32">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox"
							name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>

						<div>
							<a href="reset.html" class="txt1">
								Forgot Password?
							</a>
						</div>
					</div>
			
                    <!-- Add Signup button -->
                    <div class="container-login100-form-btn">
                        <a class="login100-form-btn" onclick="validateEmail()">Login</a>
                       
                    </div>
					
				</form>

				<div class="login100-more" style="background-image: url('login-page/images/bg-02.jpg');">
				</div>
			</div>
		</div>
	</div>
	<!-- Add your Firebase config here -->
	<script src="script.js"></script>
	
</body>
</html>