<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login-page/css/reset.css">
    <script src="script.js"></script>
    <title>Reset Password</title>
</head>

<body>
    <div class="reset-container">
        <h2>Reset Password</h2>
        <form action="#" method="post">
            <input type="email" class="reset-input" placeholder="Enter your email" required>
            <a class="reset-button" onclick="popOut()">
                Reset Password
            </a>

        </form>
        <a href="login.html" class="back-to-login">Back to Login</a>
    </div>
</body>

</html>